div { border: 2px solid #3D3D3D; }

pre#msgs {
    padding: 1em 0.75em;
    height: 80%;
    overflow: auto; }

input#to-who { width: 8.5em; }
input#to-put { width: 100%; }
td.author  { width: 8.5em; }
td.message { width: 100%; }
