pre#msgs {
    padding: 1em 0.75em;
    height: 80%;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word; }

input#to-who { width: 8.5em; }
input#to-put { width: 100%; }
td.author  { width: 8.5em; }
td.message { width: 100%; }
